.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions {
  position: relative;
  max-width: 450px;
  width: 100%;
  margin: 0 8px;
}
